/* 
    Created on : Feb 3, 2022, 7:04:04 PM
    Author     : gabri
*/
#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #496D8D;
    color: white;
}

#encabezado h1 {
    display: inline;
}

.descipcion{
    font-size: 18px;
}

#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color:  #003366;
    color: black;   
}
#menu a:hover {
    background: navy;
    color: white;
}
#menu a:visited{
    color: red;
}

#barraLateral{
    position: absolute;
    top: 8.5%;
    left: 0;
    height: 84.5%;
    width: 15%;
    background-color:  #0033ff;
    color: black;
}

#contenido{
    position: absolute;
    top: 8.5%;
    left: 15%;
    height: 85%;
    width: 85%;
    background-color:  #24a1df;
    color: black;
    overflow: auto;
}

#piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: #d3d3d3;
    color: black;
    text-align: center;
}

#encabezadoTabla {
    font-size: 20px;
    background-color: blue;
    color: yellow;
}

#tablaResumen tr {
    font-size: 25px;
}

#tablaResumen tr:nth-child(odd) {
    background-color: grey;
    color: white;
}

#tablaResumen tr:nth-child(even) {
    background-color: white;
    color: black;
}